<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="./css/materialize.css"  media="screen,projection"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="join-script.js" defer></script>
  <title>join room</title>
  <script>
    const uid = "<%= uid %>"
    const username = "<%= username %>"
  </script>
  <link rel='stylesheet' href='./pbl_css/join.css' />
</head>
<body>
  <div class="center-align card panel purple white-text">
    <h2>Join Room</h2></div>
  <div class="divider"></div>
  <div class="container">
    <div class="card panel grey darken-2 white-text">
        <h5>Input Room ID </h5></div>
    <div class = "row">
      <form id="input-form">
        <input type="text", id="call-id" class="col s8">
        <input type="submit", value="Join Room" class="col s4 btn hoverable"></button>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="./js/materialize.js"></script>
</body>
</html>
