<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <!--script src="https://www.gstatic.com/firebasejs/6.2.0/firebase.js"></script-->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"-->
  <script src="login-script.js"></script>
  <link rel='stylesheet' href='./pbl_css/login.css' />
</head>
<body>
  <h1>Login</h1>
  <div id="firebaseui-auth-container"></div>
  <div id="loader">Loading...</div>
</body>
</html>
